table {
  border-collapse: separate;
  border: 3px solid black;
  border-radius: 20px;
  background-color: pink;
  width: 100%;
  height: 70px;
}

th {
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
}

form {
  width: fit-content;
  border: 3px solid black;
  padding: 6px;
  margin: 10% auto;
}

input,
textarea {
  display: block;
  margin: 0 auto;
}
