.fallo {
  border: 4px solid rgb(255, 61, 35);
}

.acierto {
  border: 4px solid rgb(0, 255, 72);
}

input[type="text"],
input[type="number"] {
  display: block;
  width: 98%;
  height: 40px;
  margin-top: 5px;
  border-radius: 20px;
  padding-left: 2%;
  box-shadow: 4px 4px 12px rgb(255, 255, 255);
}

label {
  font-size: 25px;
  display: block;
  width: 100%;
  margin-top: 10px;
}

form {
  margin: 2% auto;
  border: 4px solid rgb(255, 70, 70);
  width: 20%;
  padding: 3%;
  border-radius: 20px;
  text-align: center;
  color: white;
  background-color: rgb(255, 142, 142);
  box-shadow: 4px 4px 12px black;
}

input[type="button"] {
  width: 98%;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 4px 4px 12px black;
}

h1 {
  text-align: center;
}
p {
  display: inline;
}

table {
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 4px 4px 12px black;
  background-color: rgb(255, 142, 142);
}

th,
td {
  background-color: white;
  padding: 5px;
  text-align: center;
  box-shadow: 4px 4px 12px black;
}

.ultimo {
  border: 3px solid black;
  box-shadow: 4px 4px 12px rgb(255, 0, 0);
}
